.home {
  min-height: 100vh;
  width: 100%;
 background: url('https://i.pinimg.com/originals/84/09/d4/8409d4fb3ebfa313a31c37105f0f63d5.jpg');
 background-size: 100% 100%;
 background-attachment: fixed;
}


.loading {
 height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;

  h1{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 700;
  }
}